.wp-marker {
    display: inline-block;
    background: linear-gradient(transparent 70%, yellow 70%)!important;
}
.wp-color-primary {
    color: orange!important;
}
.wp-font-large {
    font-size: 30px!important;
}
.wp-font-small {
    font-size: 12px!important;
}
